.chatHeader {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  align-items: center;
}

.contactHeader {
  display: flex;
  gap: 16px;
  align-items: center;
}

.contactHeader div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contactHeader div p {
  font-size: 0.8rem;
  color: #333333;
}

.fotoPerfil {
  max-width: 52px;
  border-radius: 100%;
}

.chatActions {
  display: flex;
  gap: 12px;
}

.chatActionsMobile {
  display: none;
}

.chatActions button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 40px;
  border: 2px solid transparent;
  background-color: white;
  border-radius: 8px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.chatActions button:nth-child(1) {
  border-color: #6c757d;
  color: #6c757d;
}

.chatActions button:nth-child(1):hover {
  background-color: #6c757d;
  color: #efefef;
  cursor: pointer;
}

.chatActions button:nth-child(2) {
  border-color: #0d6efd;
  color: #0d6efd;
}

.chatActions button:nth-child(2):hover {
  background-color: #0d6efd;
  color: #efefef;
  cursor: pointer;
}

.chatActions button:nth-child(3) {
  border-color: #18a3b9;
  color: #18a3b9;
}

.chatActions button:nth-child(3):hover {
  background-color: #18a3b9;
  color: #efefef;
  cursor: pointer;
}

.chatActions button:nth-child(4) {
  border-color: #ffc107;
  color: #ffc107;
}

.chatActions button:nth-child(4):hover {
  background-color: #ffc107;
  color: #efefef;
  cursor: pointer;
}
