.inputBox {
  display: flex;
  align-items: center;
  border: 1px solid #cccccc;
  margin: 20px 0;
  border-radius: 8px;
  width: 100%;
  background-color: white;
}

.inputBox i {
  color: #777777;
  margin: 8px;
}

.inputBox input {
  border: none;
  border-radius: 12px;
  padding: 12px;
  width: 100%;
  font-size: 14px;
  color: #7b7b7b;
}

.inputBox input:focus {
  outline: none;
  font-style: normal;
  color: #333;
}

.btnRegister {
  width: 100%;
  background: #bf4900;
  margin-top: 40px;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.btnRegister:hover {
    background: #a84101;
}


