h1 {
  font-family: "Satisfy"  ;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  transform: rotate(-4deg);
  margin-left: 10%;
  margin-top: 20px;
  color: #005f70;
  text-shadow: -4px 4px #ffffff;
  align-self: flex-start;
}

h2 {
  font-family: "satisfy", cursive;
  color: #903a1a;
  font-size: 32px;
}

.layoutLogin {
  width: 100%;
  height: 100dvh;
  background: url("../../assets/images/backgrounds/bg-login.png") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainerLogin {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 40px 32px;
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  max-width: 460px;
  margin-left: 40%;
  margin-top: -40px;
  width: 100%;
  text-align: center;
}
.formContainerLogin p {
  margin: 16px;
}

.btnRegister {
  width: 100%;
  background: #bf4900;
  color: #fff;
  padding: 12px;
  margin: 12px 0px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.btnRegister:hover {
  background: #a84101;
}

.apis {
  margin: 12px;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  height: 60px;
}
.apis svg {
  background-color: white;
  border-radius: 50%;
  padding: 6px;
}
