.contact {
  display: flex;
  gap: 12px;
  font-weight: 400;
  padding: 12px;
  max-width: 100%;
  align-items: center; 
}

.contactList {
  max-width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
}

.contact:hover {
  background-color: #efefef;
  cursor: pointer;
  border-radius: 8px;
}

.contact p {
  font-size: 0.75rem;
  color: #8f8f8f;
}

.fotoPerfil {
  max-width: 60px;
  border-radius: 100%;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
}

.online {
  background-color: #00d50b;
}

.offline {
  background-color: #d9534f;
}
