* {
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  height: 100dvh;
}

hr {
  border: 1px solid #eaeaea;
}

h4 {
  font-weight: 500;
}

.principal {
  display: flex;
  height: 100dvh;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}

input:placeholder-shown {
  font-style: italic;
  color: #666;
}

input:not(:placeholder-shown) {
  font-style: normal;
  color: #000;
}

input:focus {
  font-style: normal;
  outline: none;
  border-color: #000000;
}
